{% extends "base.html" %}
{% block title %}Game {{ uid }}{% endblock %}
{% block content %}

<span id="word_length" style="display: none;">{{ word_length }}</span>

<div class="game-container">
    <div class="top-bar">
        <div class="lives">Lives: <span id="lives">{{ lives }}</span> </div>
        <div class="game-id">Game ID: <span id="uid">{{ uid }}</span></div>
    </div>

    <div class="game-content">
        <!-- Left side -->
        <div class="hint">
            <h3>Hint:</h3>
            <img src="/static/images/blank.png" alt="Hint Image" class="hint-image" id="hint">
        </div>

        <!-- Right Side -->
        <div class="word-and-form">
            <div class="hangman-word" id="wordtable">
                <!-- <table>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                    <tr>
                        <td>_</td>
                        <td>_</td>
                        <td>_</td>
                        <td>_</td>
                        <td>_</td>
                    </tr>
                </table> -->
            </div>

            <div class="user-input">
                <form id="guess-form">
                    <label for="letter">Enter a letter:</label>
                    <input type="text" id="letter" name="letter" maxlength="1" required>
                    <br>
                    <button type="submit">Guess</button>
                </form>
            </div>
            <br>
            <div id="warning">
                <!-- Warning message goes here -->
            </div>
            <div id="feedback">
                <!-- Feedback message goes here -->
            </div>
        </div>
    </div>

</div>

<dialog id="winorlose">
    <p id="winorlose-text">Some Text</p>
    <button onclick="window.location.href = '/'">Play Again</button>
</dialog>

<script src="static/script_game.js"></script>
{% endblock content %}
